* {
    color: white;
}

.img-circular {
    border-radius: 50%;
}

.titulo_eventos {
    text-align: left;
}

.gradient-container {
    background: #222;
    background: linear-gradient(to bottom, #222, #666);
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

body {
    background: linear-gradient(to right, #1DB954, #222, #222, #222, #1DB954)'
}

.rounded-img {

    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    position: relative;

}



.rounded-img img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

h2{
    color: white;
}

.perfil-container {
    background-color: #121212;
    border-radius: 20px;
    padding: 20px;
    color: white;
  }

#tabla{
    background-color: #121212;
    border-radius: 20px;
    padding: 20px;
    color: white;
}