/* Importar font en CSS */
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

*{
  font-family: "Proxima Nova", sans-serif;
}


.green-color{
    background-color: #1DB954; /* color verde de Spotify */
    border-color: #1DB954;
  }



body {
  background-color: #222;
}

.containers_info {
  background-color: #121212;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

