/* Importar font en CSS */
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

*{
  font-family: "Proxima Nova", sans-serif;
}


.green-color{
    background-color: #1DB954; /* color verde de Spotify */
    border-color: #1DB954;
  }

 

body {
  background-color: #222;
}

.containers_info{
  background-color:#121212;
  border-radius:20px;
  padding:20px;
  color:white;
  margin-bottom:20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-img {
  cursor: pointer;
}
