


.cancion-container {
    /* Remove the white background */
    background-color: transparent;
  }

  .green-color{
    background-color: #1DB954; /* color verde de Spotify */
    border-color: #1DB954;
  }